name: 'HTML'
scopeName: 'text.html.basic'
type: 'tree-sitter'
parser: 'tree-sitter-html'

fileTypes: [
  'html'
]

injectionRegExp: '(HTML|html|Html)$'

folds: [
  {
    type: ['start_tag', 'raw_start_tag', 'self_closing_tag'],
    start: {index: 1},
    end: {index: -1}
  }
  {
    type: ['element', 'raw_element'],
    start: {index: 0},
    end: {index: -1}
  }
]

comments:
  start: '<!--'
  end: '-->'

scopes:
  'fragment': 'source.html'

  # Entity
  'tag_name': 'entity.tag.html'
  'erroneous_end_tag_name': 'entity.tag.html.invalid.illegal'
  'attribute_name': 'entity.attribute.html'

  # String
  'attribute > attribute_value': 'string.unquoted.attribute-value.html'
  'attribute > quoted_attribute_value': 'string.quoted.attribute-value.html'

  # Text
  'text': 'text.html'

  # Comment
  'comment': 'comment.block.html'

  # Punctuation
  '"<"': 'punctuation.definition.tag.html'
  '"</"': 'punctuation.definition.tag.html'
  '">"': 'punctuation.definition.tag.html'
  '"/>"': 'punctuation.definition.tag.html'
  '"<!"': 'punctuation.definition.tag.doctype.html'
  'doctype > ">"': 'punctuation.definition.tag.doctype.html'
  '"="': 'punctuation.delimiter.pair.attribute-value.html'
  '"\\""': 'punctuation.definition.string.html'
  '"\'"': 'punctuation.definition.string.html'

  'ERROR > "<"': 'punctuation.definition.tag.html.invalid.illegal'
  'ERROR > "</"': 'punctuation.definition.tag.html.invalid.illegal'
  'ERROR > ">"': 'punctuation.definition.tag.html.invalid.illegal'
  'ERROR > "/>"': 'punctuation.definition.tag.html.invalid.illegal'
  'ERROR > "<!"': 'punctuation.definition.tag.doctype.html.invalid.illegal'
  'ERROR > "="': 'punctuation.delimiter.pair.html.invalid.illegal'
  'ERROR > "\\""': 'punctuation.definition.string.html.invalid.illegal'
  'ERROR > "\'"': 'punctuation.definition.string.html.invalid.illegal'

  # Meta
  'doctype': 'meta.doctype.html'
