name: 'ERB'
scopeName: 'text.html.erb'
type: 'tree-sitter'
parser: 'tree-sitter-embedded-template'

fileTypes: [
  'erb'
  'html.erb'
]

injectionRegExp: '^(erb|ERB)$'

folds: [
  {
    type: ['directive', 'output_directive'],
    start: {index: 0},
    end: {index: -1}
  }
]

comments:
  start: '<%#'
  end: '%>'

scopes:
  'template': 'source.erb'

  'comment_directive': 'comment.block.html.erb'

  '"<%#"': 'punctuation.definition.comment.html.erb'
  'comment_directive > "%>"': 'punctuation.definition.comment.html.erb'

  '"<%"': 'punctuation.delimiter.embedded.html.erb'
  '"<%="': 'punctuation.delimiter.embedded.html.erb'
  '"<%_"': 'punctuation.delimiter.embedded.html.erb'
  '"<%-"': 'punctuation.delimiter.embedded.html.erb'
  '"%>"': 'punctuation.delimiter.embedded.html.erb'
  '"-%>"': 'punctuation.delimiter.embedded.html.erb'
  '"_%>"': 'punctuation.delimiter.embedded.html.erb'
