name: 'EJS'
scopeName: 'text.html.ejs'
type: 'tree-sitter'
parser: 'tree-sitter-embedded-template'

fileTypes: [
  'ejs'
  'html.ejs'
]

injectionRegExp: '^(ejs|EJS)$'

folds: [
  {
    type: ['directive', 'output_directive'],
    start: {index: 0},
    end: {index: -1}
  }
]

comments:
  start: '<%#'
  end: '%>'

scopes:
  'template': 'source.ejs'

  'comment_directive': 'comment.block.html.ejs'

  '"<%#"': 'punctuation.definition.comment.html.ejs'
  'comment_directive > "%>"': 'punctuation.definition.comment.html.ejs'

  '"<%"': 'punctuation.delimiter.embedded.html.ejs'
  '"<%="': 'punctuation.delimiter.embedded.html.ejs'
  '"<%_"': 'punctuation.delimiter.embedded.html.ejs'
  '"<%-"': 'punctuation.delimiter.embedded.html.ejs'
  '"%>"': 'punctuation.delimiter.embedded.html.ejs'
  '"-%>"': 'punctuation.delimiter.embedded.html.ejs'
  '"_%>"': 'punctuation.delimiter.embedded.html.ejs'
